* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
}

.nav {
  height: 65px;
  width: 100%;
  padding: 10px;
  position: relative;
  background: linear-gradient(to right, transparent, white, transparent);
  z-index: 100;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #ac1616;
  padding: 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #000000;
  font-size: 1.rem;
}

.nav > .nav-links > a:hover {
  background-color: rgba(227, 80, 80, 0.897);
  color: #fff;
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav {
    position: fixed;
    height: 50px;
  }
  
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
    margin-right: 23px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(255, 153, 0, 0.545);
    border-radius: 0;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #121212;
  }
  .nav > .nav-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #ffffff;
    height: calc(120%+50px);
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: flex;
    justify-content: center;
    width: 100%;
    line-height: 3;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

@media (min-width: 601px) {
    .nav {
      position: sticky;
      top: 0;
      z-index: 100;
    }
  }