* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  background-image: url(images/image_geometry_1.png);
  background-repeat: no-repeat;
}

#toolbar {
  display: flex;
  justify-content: flex-end;
  margin: 16px;
}

.name {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 100%;
  width: 200px;
  padding: 16px;
  margin: 0;
  margin-top: 50px;
  color: #1a2236;
}

.headline {
  width: 90%;
  height: 126px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #1a2236;
  padding: 16px;
  font-weight: 400;
  letter-spacing: -0.02em;
  margin-bottom: 40px;
}

.textBoton {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
}

.blackBoton {
  margin: 16px 16px;
  width: 90%;
  height: 50px;
  background: #1a2236;
  color: #fff;
  margin-bottom: 32px;
}

.imagebox {
  display: block;
  height: 160px;
  background-image: url(images/image_geometry_2.png);
}

/* projects section */

.gallery {
  display: grid;
  flex-wrap: wrap;
  width: 100vw;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 3.5em;
  font-weight: 400;
  line-height: 100%;
  padding: 16px;
  padding-bottom: 0;
  padding-top: 0;
  margin: 40px 0 2rem;
  background: #fff;
  background-color: transparent;
}

.card {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
}

.pData {
  width: 100vw;
  height: 156px;
  background: #1a2236;
  padding-left: 16px;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 20px;
  line-height: 300%;
  color: #fff;
}

.projectUl {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  list-style-type: none;
  padding: 0;
  padding-left: 0;
  margin-bottom: 0;
  width: 314px;
}

.projectLi {
  font-size: 10.33px;
  background-color: #98dede;
  float: left;
  text-align: center;
  margin-right: 10px;
  padding: 6px;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
}

.see {
  background: none;
  border: #fff solid 0.5px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 7px 10px;
}

/* about section */

.about {
  display: flex;
  flex-direction: column;
}

.textAbout {
  width: 90%;
  height: fit-content;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #1a2236;
  padding: 16px;
  padding-bottom: 10px;
  margin-top: 0;
  padding-top: 0;
}

.boxL {
  padding: 16px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  grid-auto-rows: 19.2rem;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));

  /* border: #1a2236 dotted 1px; */
}

.Box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  padding-left: 50px;
  padding-right: 50px;
  height: 289px;
  width: 289px;
  margin: 9px auto;
}

.lan {
  background: #1c528c;
  background-image: url("./images/lfs/hast.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.fra {
  background-color: #e2505c;
  background-image: url("images/lfs/cuadrado.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 33%;
}

.ski {
  background-color: #febf52;
  background-image: url("images/lfs/foco.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 35%;
}

h4 {
  font-size: 20px;
  font-weight: 800;
  color: #fff;
}

.inBox {
  color: #fff;
  list-style-position: inside;
  justify-self: center;
}

button {
  transition-duration: 0.7s;
  cursor: pointer;
}

button:hover {
  background: rgba(255, 72, 0, 0.945);
  border-color: transparent;
  border-width: 1px;
}

/* formulary section */

.formulary {
  display: flex;
  flex-direction: column;
  background: #f9f9fa;
  background-image: url(images/image_geometry_1.png);
  background-repeat: no-repeat;
  padding: 1px;
}

.space {
  height: 106px;

  /* border: #1a2236 dotted 1px; */
}

.cont-form {
  width: 320px;

  /* border: #1a2236 dotted 1px; */
  align-self: center;
}

.form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.getStar {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 50px;
}

.form-name {
  display: flex;
  flex-direction: column;
  border: 1px solid #dfdfe0;
  height: 46px;
  margin: 8px 18px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  padding-left: 16px;
  padding-top: 4px;
  color: darkgray;
}

/* hover effect for input field */
.form-name:hover {
  border: 1px solid black;
}

.form-name-contend {
  border: none;
  background: #fff;
}

.form-name-contend:active {
  border: white;
}

.form-text {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #dfdfe0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 8px 18px;
  height: 90px;
  min-width: 89%;
  max-width: 400px;
  padding-left: 16px;
  padding-top: 8px;
}

label {
  border-radius: 4px;
  border: none;
  background: #fff;
}

.contenfoo {
  background: #1a2236;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.resume {
  display: flex;
  align-items: center;
  border: transparent;
  color: #92dcdc;
  flex-grow: 2;
  margin-bottom: 0;
  font-size: 16px;
}

.rsFooter {
  align-self: center;
  background: #1a2236;
  width: 100vw;
  max-width: 320px;
  padding: 20px 30px 30px 30px;
  display: flex;
  justify-content: space-between;
}

.rrss {
  background-color: transparent;
  list-style: none;
  transition-duration: 1.7s;
  cursor: pointer;
}

.rrss:hover {
  zoom: 1.15;
}
